@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
}

.language{
    text-align: right;
    /* padding: 10px 35px; */
    background-color: #D9D9D9;
}

.nav-container{
    width: 100%;
    padding: 0px 5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
}
.logo-section{
    width: 15%;
    /* display: inline; */
}
.navdiv {
    font-size: 2rem;
    color: #000;
    padding: 20px 0;
    width: 50%;
}
.navlink{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 40px;
    padding: 5px;
}

#active-item{
    background-color: #3E9B05;
    color :#fff;
    border-radius: 40px;
    font-weight: bold;
}

#inactive-item{
    background-color: #ffffff;
    color :#000;
    border-radius: 40px;
    font-weight: bold;
}

.nav-items{
    text-align: center;
}

.hamburger-icon, .menu1, .menu2{
    display: none;
}


@media (min-width:501px) and (max-width: 800px) {
    .nav-container{
        flex-direction: column;
    }
    .logo-section{
        width: 100%;
        margin:auto;
        text-align: center;
        padding: 10px;
    }
    .nav-items{
        width: 100%;
        padding: 10px;
        margin: auto;
        text-align: center;
    }
}

@media (max-width: 500px){
    .navlink, .login{
        display: none;
    }
    .language{
        padding: 10px;
    }
    .nav-container {
        flex-direction: row;
    }
    .logo-section{
        width: 30%;
        flex-grow: 1;
        display: inline;
    }
    .hamburger-icon{
        display:inline;
        top: 0;
        right: 0;
        background: rgb(111, 246, 87);
        z-index: 100;
    }
    .menu1 {
        position: absolute;
        top: 64px;
        left: -110px;
        transition: right 0.5s ease;
        z-index: 99;
    }
    
    .menu2 {
        display: block;
        overflow: hidden;
        position: fixed;
        top: 115px;
        left: 0;
        /* padding-top: 64px; */
        height: 100vh;
        width: 60%;
        background-image:linear-gradient(rgb(128, 243, 108),rgb(119, 250, 96)) ;
        z-index: 99;
        /* transition: top 0.5s ease; */
    }
}

/*-------searchbox------*/
.searchdiv{
    align-items: flex-end;
    padding: 10px 5%;
}
.searchbox{
    background-color: #D9D9D9;
    width:300px;
    box-shadow: 2px 3px #787881 ;
    border-radius: 30px;
}

.searchbox > input{
    background-color: #d9d9d9;
}
.searchbox > input:focus{
    outline: none;
}


/* --------displayBox-------- */
.displayBox{
    display: flex;
}

/* --------footer-------- */

.footer {
    color: black;
    width: 100%;
    margin-top: 15px;
    padding: 2.5%;
    background-image: linear-gradient(rgb(111, 246, 87), rgb(180, 240, 121));
    border-bottom: 3px solid #787881;
}

.links {
    width: 50%;
}

.contact-info {
    width: 40%;
    overflow: hidden;
}

.copyright {
    width: 100%;
    padding: 2% 0;
    padding-left: 12%;
    text-align: left;
    color: black;
    background-color: rgb(180, 240, 121);
}
.base-bar{
    display: none;
}
<<<<<<< HEAD
=======
.login{
    background: linear-gradient(#53dd6c  50%, #ffffff 50%)
}
>>>>>>> Amrit
@media (max-width:760px) {
    .links{
        width: 70%;
    }
}
@media (max-width: 500px) {
    .footer, .copyright {
        display: none;
    }
    .base-bar{
        display: flex;
        justify-content:space-between ;
        width: 100%;
        margin: 0 auto;
        position: fixed;
        bottom: 0;
        padding: 15px 20px;
        background-color: rgb(119, 250, 96);
    }
}